@model IEnumerable<EFGetStarted.AspNetCore.NewDb.Models.Drink>
@*@model Bartender_App.Program*@

@{
    ViewData["Title"] = "Order Drinks";
}

<h2>Order Drinks</h2>

<hr />
<div class="row">
    <div class="col-sm-3 col-sm-6">
        <div class="thumbnail">
            <img src="..." alt="Beer">
            <div class="caption">
                Hola
                <p>...</p>
                <p><a href="#" class="btn-sm btn-success" role="button">Add to cart</a></p>
            </div>
        </div>
    </div>
</div>






@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
